@import "./lib/library";

* {
	box-sizing: border-box;
}
div{
	padding: 4px;
	margin: 2px;
}

.information{
	.function-information(#0C4C8A);
}

.title-container{
	background-color: #EF562D;
	text-align: center;
}

.window-container{
	color:white;
	font-size: 20px;
	text-transform: uppercase;
	float:left;
	@media screen{
		.function-window-container(400px,200px);
		@media (min-width:450px){
			.function-window-container(200px,130px,#D13076,black);
		}
	}
}

.lighted-circle{
	@b-color:#00C1E0;
	float: left;
	z-index: 1;
	width:150px;
	height:150px;
	background-color:@b-color;
	.function-box-shadow-4;
	.function-border-radius(@b-color,150px,150px);
	@colors:white,lightgray,#d3d3d3 - 5,@b-color - 2,@b-color - 3,@b-color - 4;
	.function-radial-gradient(circle,@colors);
}